extends layout

block content
    <script src="/js/pixels.js"></script>
    <br/>
    table(class='drawboard')
        <tr>
            <th colspan='9000' class='drawboard-header'> 
                <label for="color">Color: </label>
                <input type="color" id="color" name="color" value="#f6b73c">
                <label for="zoom">Zoom: </label>
                <button onclick="zoomIn()">
                    <span class="octicon octicon-plus"></span>
                </button>
                <button onclick="zoomOut()">
                    <span class="octicon octicon-dash"></span>
                </button>
            </th>
        </tr>
            each pixelrow in pixels.length ? pixels : ['No Pixels']
                <tr>
                each pixel in pixelrow.length ? pixelrow : ['No Row']
                    <td class= 'pixel' id="!{pixel.x}-!{pixel.y}" style='background-color: rgb(!{pixel.red}, !{pixel.green}, !{pixel.blue}) !important;' onclick='pixelClick(!{pixel.x}, !{pixel.y})'> 
                    </td>
                </tr>
